.button {
  position: relative;
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  height: 30px;
  width: 100%;
  max-width: 150px;
  line-height: 30px;
  font-family: 'Helvetica';
  font-size: 14px;
  color: #0047ba;
  text-transform: uppercase;
  cursor: pointer;
  background: #fff;
  border-left: 2px solid #0047ba;
}

.button span {
  position: absolute;
  background: #0047ba;
  transition: all 200ms ease-in-out;
}

.button span.line-1 {
  top: 0;
  left: 0;
  width: 158px;
  height: 2px;
  transform: translateX(-48px);
}

.button span.line-2 {
  bottom: 0;
  right: 0;
  width: 130px;
  height: 2px;
  transform: translateX(-25px);
}

.button span.line-3 {
  top: 0;
  right: 0;
  width: 40px;
  height: 2px;
  transform: translateX(20px);
}

.button span.line-4 {
  bottom: 0;
  right: 0;
  width: 100px;
  height: 2px;
  transform: translateX(95px);
}

.button span.line-5 {
  bottom: 0;
  right: 0;
  width: 2px;
  height: 50px;
  transform: translateY(0px);
}

.button span.line-6 {
  top: 0;
  right: 0;
  width: 2px;
  height: 8px;
  transform: translateY(-48px);
}

.button:hover .line-1 {
  transform: translateX(0px);
}

.button:hover .line-2 {
  transform: translateX(-65px);
}

.button:hover .line-3 {
  transform: translateX(60px);
}

.button:hover .line-4 {
  transform: translateX(55px);
}

.button:hover .line-5 {
  transform: translateY(44px);
}

.button:hover .line-6 {
  transform: translateY(-2px);
}